<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistController</servlet-name>
        <servlet-class>servlet.controllers.RegistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>servlet.controllers.VerifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverPassword</servlet-name>
        <servlet-class>servlet.controllers.RecoverPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlet.controllers.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlet.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>servlet.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartQuantityController</servlet-name>
        <servlet-class>servlet.controllers.CartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderRequestHandler</servlet-name>
        <servlet-class>servlet.controllers.OrderRequestHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>servlet.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatusUpdate</servlet-name>
        <servlet-class>servlet.controllers.OrderStatusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>servlet.controllers.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackHandler</servlet-name>
        <servlet-class>servlet.controllers.FeedBackHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCanceller</servlet-name>
        <servlet-class>servlet.controllers.OrderCanceller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/ctlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/ctlDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverPassword</servlet-name>
        <url-pattern>/ctlRecovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistController</servlet-name>
        <url-pattern>/ctlRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartQuantityController</servlet-name>
        <url-pattern>/ctlModify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderRequestHandler</servlet-name>
        <url-pattern>/ctlOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/ctlVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/ctlUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatusUpdate</servlet-name>
        <url-pattern>/ctlOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ctlChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackHandler</servlet-name>
        <url-pattern>/ctlFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCanceller</servlet-name>
        <url-pattern>/ctlOrderCancel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <request-character-encoding>UTF-8</request-character-encoding>
    <filter>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
</web-app>
