html {
    font-family: Tahoma;
}

.navbar { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    margin-top: 32px;
}

.navbar ul { 
    display: flex;

}

.navbar li { 
    
    list-style: none;
}
.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    font-family: Inter; 
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    color: black;
    width: 500px;
}

.navbar li a:hover {
    color: #0062ff;
    font-weight: bolder;
    filter: drop-shadow(rgba(0, 0, 0, 0.277) -0.5rem 0.5rem 5px);
}

.navbar .action-btn:hover {
    cursor: pointer;
}

.navbar .action-btn:hover label {
    text-decoration: underline;
    cursor: pointer;
}

.navbar .action-btn { 
    display: inline-block;
    min-width: 150px;
    width: fit-content;
    max-width: 150px;
    background-color: #003294;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-left: -10%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.navbar .sub-menu {
    position: relative;
}

.navbar .list-menu { 
    position: absolute;
}

.cart {
    border: none;
    background: none;
    position: relative;
    left: -9vh;
}

.cart i {
    color: #0060de; 
    font-size: 32px;
}

.cart:hover {
    cursor: pointer;
}

.cart i:hover {
    color: #003194; 
}

.info-personal {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
   
}
.info-personal a { 
    padding: 20px;
    text-decoration: none;
    margin-left: 18%;
    color: #5992ee;
    width: 150px;
   
    
}

.info-personal a:hover {
    text-decoration: underline;
}

.info-personal a:last-child {
    color: red;
    font-weight: bold;
}

.menu { 
    display: flex;
    justify-content: space-around;
}
.form-main {
    margin-right: 35%;
    margin-bottom: 15%;
}
.title { 
    display: block;
    border-bottom: 1px solid  rgb(231, 223, 223);
    width: 200%;
    
}
.title h3 {
    font-size: 30px;

}
.text input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-top: 1%;
    border-radius: 5px;
    border: 1px solid rgb(129, 129, 129);
}
.text p {
    padding-bottom: 2%;
}

.btn {
    display: flex;
    margin-left: 60%;
}
.bnt-save { 
    margin-left: 10%;
  
}
.bnt-save button { 
    width: 50px;
    height: 30px;
    background-color: #0062ff;
    color: white;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    cursor: pointer;
}
.btn-cancel button { 
    width: 50px;
    height: 30px;
    color: white;
    background-color: red;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    cursor: pointer;
}



/* ===================================== footer ======================================= */

footer {
    background-color: #c9c9c9;
    border-top: black solid 5px;
}

footer > div {
    padding-top: 0.1%;
    padding-bottom: 1%;
    margin: 0 auto;
    display: block;
    align-content: center;
    text-align: center;
}

footer div p {
    font-size: 24px;
    font-family: Tahoma, Helvetica, sans-serif;
}

footer button {
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 89, 255);
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    min-width: 150px;
    text-align: center;
}

footer button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: rgb(0, 145, 255);
}

.moc-2 { 
    margin-top: 20%;
    border-top: 1px solid;
    display: block;
}
.moc-title { 
    margin-top: 85%;
   
}